<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="userlist"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf="character">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img src="{{character.image}}" alt="">
              <ion-card-title>
                {{character.name}}
              </ion-card-title>
              <p>{{character.status}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>